<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oditji.favorite.dao.FavoriteDAO">

    <!-- 찜 여부 확인 -->
    <select id="countFavorite"
            parameterType="com.project.oditji.favorite.vo.FavoriteVO"
            resultType="int">

        SELECT COUNT(*)
        FROM FAVORITE
        WHERE MEMBER_NO = #{memberNo}
          AND CONTENT_NO = #{contentNo}

    </select>


    <!-- 찜 추가 -->
    <insert id="insertFavorite"
            parameterType="com.project.oditji.favorite.vo.FavoriteVO">

        INSERT INTO FAVORITE (
            FAVORITE_NO,
            MEMBER_NO,
            CONTENT_NO,
            CREATED_AT
        )
        VALUES (
            SEQ_FAVORITE_NO.NEXTVAL,
            #{memberNo},
            #{contentNo},
            SYSDATE
        )

    </insert>


    <!-- 찜 삭제 -->
    <delete id="deleteFavorite"
            parameterType="com.project.oditji.favorite.vo.FavoriteVO">

        DELETE
        FROM FAVORITE
        WHERE MEMBER_NO = #{memberNo}
          AND CONTENT_NO = #{contentNo}

    </delete>


    <!-- 내 찜 목록 -->
    <select id="selectFavoriteList"
            parameterType="long"
            resultType="com.project.oditji.content.vo.ContentVO">

        SELECT
            C.CONTENT_NO,
            C.TMDB_ID,
            C.CONTENT_TYPE,
            C.TITLE,
            C.ORIGINAL_TITLE,
            C.OVERVIEW,
            C.POSTER_PATH,
            C.BACKDROP_PATH,
            C.RELEASE_DATE,
            C.GENRE_TEXT,
            C.RUNTIME,
            C.EPISODE_COUNT,
            C.DIRECTOR,
            C.CAST_NAMES,
            C.AGE_RATING,
            C.TMDB_SCORE,
            C.VIEW_COUNT,
            C.CREATED_AT,
            C.UPDATED_AT
        FROM FAVORITE F
        JOIN CONTENT C
        ON F.CONTENT_NO = C.CONTENT_NO
        WHERE F.MEMBER_NO = #{memberNo}
        ORDER BY F.CREATED_AT DESC

    </select>

</mapper>