<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oditji.verify.dao.VerifyDAO">

    <insert id="insertVerifyLog" parameterType="com.project.oditji.verify.vo.IdentityVerifyLogVO">
        INSERT INTO IDENTITY_VERIFY_LOG (
            VERIFY_NO,
            MEMBER_NO,
            VERIFY_ID,
            VERIFY_STATUS,
            NAME,
            BIRTH_DATE,
            PHONE_NUMBER,
            GENDER,
            ADULT_YN,
            RAW_STATUS,
            CREATED_AT,
            VERIFIED_AT
        ) VALUES (
            SEQ_IDENTITY_VERIFY_LOG.NEXTVAL,
            #{memberId, jdbcType=NUMERIC},
            #{verifyId, jdbcType=VARCHAR},
            #{verifyStatus, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{birthDate, jdbcType=VARCHAR},
            #{phoneNumber, jdbcType=VARCHAR},
            #{gender, jdbcType=VARCHAR},
            #{adultYn, jdbcType=CHAR},
            #{rawStatus, jdbcType=VARCHAR},
            SYSDATE,
            CASE
                WHEN #{verifyStatus} = 'VERIFIED' THEN SYSDATE
                ELSE NULL
            END
        )
    </insert>

    <update id="updateMemberAdultVerified">
        UPDATE MEMBER
        SET
            ADULT_VERIFIED = 'Y',
            UPDATED_AT = SYSDATE
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="selectMemberAdultVerified" resultType="string">
        SELECT ADULT_VERIFIED
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="countVerifyId" resultType="int">
        SELECT COUNT(*)
        FROM IDENTITY_VERIFY_LOG
        WHERE VERIFY_ID = #{verifyId}
    </select>

</mapper>