<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oditji.verify.dao.VerifyDAO">

    <insert id="insertVerifyLog"
            parameterType="com.project.oditji.verify.vo.IdentityVerifyLogVO">

        INSERT INTO IDENTITY_VERIFY_LOG (
            VERIFY_NO,
            VERIFY_ID,
            VERIFY_STATUS,
            NAME,
            BIRTH_DATE,
            PHONE_NUMBER,
            GENDER,
            ADULT_YN,
            RAW_STATUS,
            CREATED_AT
        ) VALUES (
            SEQ_IDENTITY_VERIFY_LOG.NEXTVAL,
            #{verifyId, jdbcType=VARCHAR},
            #{verifyStatus, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{birthDate, jdbcType=VARCHAR},
            #{phoneNumber, jdbcType=VARCHAR},
            #{gender, jdbcType=VARCHAR},
            #{adultYn, jdbcType=CHAR},
            #{rawStatus, jdbcType=VARCHAR},
            SYSDATE
        )

    </insert>

</mapper>